bin

# ignore doc content on master branch
doc/content/
doc/index.html

# ignore chxdoc temp files
__chxdoctmp

# neko binaries
test.n

# vim swapfiles
.swp
.swo

# haxe tags
tags

# stupid mac finder files
.DS_STORE
